
@{
    ViewBag.Title = "UserContact";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>UserContact</h2>
<link rel="stylesheet" , href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
<link rel="stylesheet" , href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />
<address>
    One Microsoft Way
<br />
    Redmond, WA 98052-6399
<br />
<abbr title="Phone">P:</abbr>
    +251920175178
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Abukimoha@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">fizzy@gmail.com</a>
</address>

